<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.repository.mapper.LendMapper">
    <select id="lendinfo" parameterType="java.lang.String" resultType="com.example.demo.repository.dao.UserLend">
        select * from lend_info
        <where>
            <if test="username!=null">
                username=#{username}
            </if>
        </where>
    </select>
    <select id="lend_exist" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from lend_info where bookname=#{bookname} and num>0;
    </select>
    <insert id="lendbook" parameterType="com.example.demo.repository.dao.UserLend">
        insert into lend_info (id,username,bookname,num,lenddate,backdate)
        values (null , #{userlend.username}, #{userlend.bookname}, #{userlend.num}, #{userlend.lenddate}, #{userlend.backdate});
    </insert>
    <update id="backbook" parameterType="com.example.demo.repository.dao.UserLend">
        update lend_info
        set backdate = #{userlend.backdate}, num=#{userlend.num}
        where id=#{userlend.id};
    </update>

</mapper>